In [1]:
import pandas as pd
import time
import calendar
df = pd.read_csv("cleaned_data_FULL.csv")

In [2]:
df.head()

,Unnamed: 0,Created Date,Closed Date,Complaint Type,Descriptor,Location Type,Incident Zip,Due Date,Resolution Description,Resolution Action Updated Date,Latitude,Longitude,Borough,City,Complaint Subgroups,Distance To Closest Station
0,104,02/17/2018 10:03:19 AM,02/17/2018 10:42:22 AM,Noise - Residential,Loud Music/Party,Residential Building/House,10027.0,02/17/2018 06:03:19 PM,The Police Department responded to the complai...,02/17/2018 10:42:22 AM,40.815927,-73.958107,MANHATTAN,NEW YORK,Noise,256.952864
1,241,02/17/2018 08:40:26 AM,02/17/2018 03:34:25 PM,Noise - Residential,Loud Music/Party,Residential Building/House,11223.0,02/17/2018 04:40:26 PM,The Police Department responded to the complai...,02/17/2018 03:34:25 PM,40.596697,-73.975723,BROOKLYN,BROOKLYN,Noise,1178.598259
2,276,03/18/2018 04:26:25 AM,03/18/2018 07:38:24 AM,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11238.0,03/18/2018 12:26:25 PM,The Police Department responded and upon arriv...,03/18/2018 07:38:24 AM,40.677218,-73.957689,BROOKLYN,BROOKLYN,Traffic related,1161.212161
3,313,02/17/2018 08:32:52 PM,02/17/2018 11:35:48 PM,Noise - Residential,Loud Music/Party,Residential Building/House,10461.0,02/18/2018 04:32:52 AM,The Police Department responded to the complai...,02/17/2018 11:35:48 PM,40.852646,-73.829905,BRONX,BRONX,Noise,2059.493048
4,332,05/22/2017 10:36:24 PM,05/23/2017 12:06:25 AM,Illegal Parking,Blocked Hydrant,Street/Sidewalk,10463.0,05/23/2017 06:36:24 AM,The Police Department responded to the complai...,05/23/2017 12:06:25 AM,40.882683,-73.908998,BRONX,BRONX,Traffic related,220.628975

In [3]:
df['Created Date'] = pd.to_datetime(df['Created Date'], format = '%m/%d/%Y %H:%M:%S %p')
df['Closed Date'] = pd.to_datetime(df['Closed Date'], format = '%m/%d/%Y %H:%M:%S %p')
df['Incident Zip'] = df['Incident Zip'].astype(int)

def to_hours(td):
    return round(td.seconds/float(3600),1)

df['Efficiency'] = (df['Closed Date'] - df['Created Date']).apply(lambda x: to_hours(x))
df['Month'] = df['Created Date'].apply(lambda x: calendar.month_name[x.month])

In [6]:
df['Year'] = df['Created Date'].apply(lambda x: x.year)

In [9]:
df_alt = df.copy()

In [10]:
df_alt = df_alt[(df_alt['Incident Zip'] >= 10000) & (df_alt['Incident Zip'] <= 11697)]

In [13]:
df_d3 = df_alt.groupby(['Incident Zip','Year'])['Efficiency'].mean().reset_index()

In [17]:
df_d3.columns =  ['zip','year','efficiency']

In [20]:
df_d3

        zip  year  efficiency
0     10000  2010    5.400000
1     10000  2011    5.866197
2     10000  2012    6.564103
3     10000  2013    5.319608
4     10000  2014    4.576786
5     10000  2015    4.156250
6     10000  2016    7.150909
7     10000  2017    6.516981
8     10000  2018    4.176613
9     10001  2010    4.173444
10    10001  2011    3.951090
11    10001  2012    4.390072
12    10001  2013    4.465049
13    10001  2014    4.344978
14    10001  2015    4.455723
15    10001  2016    4.811450
16    10001  2017    5.071679
17    10001  2018    5.360704
18    10002  2010    5.048546
19    10002  2011    5.559207
20    10002  2012    5.098125
21    10002  2013    4.312351
22    10002  2014    4.556407
23    10002  2015    5.110293
24    10002  2016    5.405725
25    10002  2017    5.388123
26    10002  2018    5.992068
27    10003  2010    4.897743
28    10003  2011    4.828211
29    10003  2012    4.882035
...     ...   ...         ...
1789  11693  2010    3.739130
1790  11693  2011    4.283803
1791  11693  2012    4.437846
1792  11693  2013    4.530518
1793  11693  2014    3.820749
1794  11693  2015    4.395875
1795  11693  2016    4.793784
1796  11693  2017    4.021115
1797  11693  2018    4.919683
1798  11694  2010    3.960526
1799  11694  2011    4.333333
1800  11694  2012    4.804167
1801  11694  2013    4.278119
1802  11694  2014    3.638101
1803  11694  2015    4.145024
1804  11694  2016    4.332640
1805  11694  2017    3.601345
1806  11694  2018    4.485155
1807  11695  2015    1.866667
1808  11695  2016    1.933333
1809  11695  2017    1.500000
1810  11695  2018   13.000000
1811  11697  2011    2.858333
1812  11697  2012    4.977778
1813  11697  2013    1.350000
1814  11697  2014    6.137500
1815  11697  2015    6.320000
1816  11697  2016    3.515789
1817  11697  2017    3.669767
1818  11697  2018    2.224638

[1819 rows x 3 columns]

In [19]:
df_d3.to_csv("nyc_efficiency.csv")